/* Section profil */
.profile {
    overflow-y: auto; /* Rend défilable si nécessaire */
}



/* En-tête du profil */
.profile-header {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-username {
    font-size: 24px;
    font-weight: bold;
}

/* Boutons d'action */
#profile-actions {
    display: flex;
    align-self: flex-end;
    gap: 0.5rem;
}

#profile-actions button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#profile-actions img {
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.2s;
}

#profile-actions img:hover {
    transform: scale(1.1);
}



/* Historique des parties */
.profile-history {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.history-table {
    width: 80%;
    margin: 0 auto; /* Centrer le tableau */
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour le relief */
    align-self: center;
}

.history-table th, .history-table td {
    border: 1px solid #ddd;
    padding: 12px; /* Espacement plus grand */
    text-align: center;
}

.history-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternance de couleur de ligne */
}

.history-table tr:hover {
    background-color: #e6e6e6; /* Couleur au survol */
}

.history-table tr.win {
    background-color: #c8e6c9; /* Vert clair pour victoire */
}

.history-table tr.loss {
    background-color: #ffcdd2; /* Rouge clair pour défaite */
}

.history-table th {
    background-color: #534c32;
    color: #ffffff; /* Texte blanc */
    font-weight: bold;
    padding: 15px;
}

.history-table td {
    font-size: 16px;
}

.history-table caption {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #2B2D42;
}