/* GENERAL */
html, body, h1, h2, h3, p, ul, ol, figure, blockquote {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

button, input {
    font-family: Arial, sans-serif;  /* Chrome fix */
}

.hidden {
    display: none !important;
}



/* COLORS */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #212529;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

button:hover {
    background-color: darken(var(--primary-color), 10%);
}