<div id="game-menu">
    <h2>Start a Game</h2>
    <!-- Random Matchmaking -->
    <div class="player-info player-info-salon">
      <img id="player-photo" src="" alt="Player photo">
      <h3 id="player-name"></h3>
    </div>
    <div class="player-info" id="opponent-info" style="display: none;">
      <img id="opponent-photo" src="" alt="Opponent photo">
      <h3 id="opponent-name"></h3>
    </div>
    <button class="start-game" id="start-game">Start Game</button>
    <button class="cancel-button" id="cancel-button">Give up</button>
  </div>