<div class="dynamic-card">
    <h3>Profile Update</h3>
    <form id="update-profile-form" enctype="multipart/form-data">
        <label for="avatar" style="display: block; text-align: left; margin-bottom: 8px;">Upload a new avatar</label>
        <input type="file" name="avatar" id="avatar" accept="image/jpeg,image/png">

        <label for="password" style="display: block; text-align: left; margin-bottom: 8px;">Update your password</label>
        <!-- <label for="password">Current password</label> -->
        <input type="password" name="password" id="password" placeholder="Current Password">
        
        <!-- <label for="new_password">New password</label> -->
        <input type="password" name="new_password" id="new_password" placeholder="New password">

        <!-- <label for="password">New password</label> -->
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password">

        <div id="update-profile-error" class="error-message hidden"></div>
        <div id="update-profile-success" class="success-message hidden"></div>
        <button type="submit">Update</button>
        <button type="button" id="btn-delete-profile" style="margin-top: 12px; background-color: #d9534f;">Delete profile</button>
    </form>
</div>
