<div class="dynamic-card">
    <h3>Delete Profile</h3>
    <form id="delete-profile-form">
        <label for="password" style="display: block; text-align: left; margin-bottom: 8px;">Enter your password to confirm account deletion.</label>
        <input type="password" name="password" id="delete-password" placeholder="Password" required>

        <div id="delete-profile-error" class="error-message hidden"></div>
        <button type="submit" style="background-color: #d9534f;">Confirm Deletion</button>
        <div id="update-profile-error" class="error-message hidden"></div>
    </form>
</div>